/* :root {
  --background: #eee;
  --primary: royalblue;
  --secondary: teal;
  --tertiary: gold;
  --text-primary: black;
  --text-secondary: grey;

  --sm: calc(1rem * 0.5);
  --m: calc(1rem);
  --lg: calc(1rem * 1.5);
}

[data-theme="dark"] {
  --background: #2f2f2f;
  --primary: royalblue;
  --secondary: aqua;
  --tertiary: gold;
  --text-primary: white;
  --text-secondary: grey;
}

.App {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text-primary);
  text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}


header {
  padding: var(--sm);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: var(--sm) var(--m);
  border-radius: var(--sm);
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
} */
